head
  title About Us
  link(href='stylesheets/aboutus.css', rel='stylesheet', type='text/css')
body
  section
    ul
      li
        a(href='/') Home
      li.active
        a(href='about') About us
      li
        a(href='contactus') Contact
      li
        a(href='#') Help Us
    h1 About Us
    span.b
  section.sticky
    blockquote We are on a mission to simplify and enhance the experience of a user while learning so that they can focus on learning itself and not trying to find terminologies and good content.
      span.a
    img#office(src='https://images7.alphacoders.com/810/810997.jpg')
    img#building(src='https://wallpaperplay.com/walls/full/b/1/9/96118.jpg')
    #box
  section
    h2 Technology can be our best friend, and technology can also be the biggest party pooper of our lives. It interrupts our own story, interrupts our ability to have a thought or a daydream, to imagine something wonderful, because weapons are too busy bridging the walk from the cafeteria back to the office on the cell phone.
