head
    title Contact Us   
    link(href='stylesheets/contactus.css', rel='stylesheet', type='text/css')
body
    section
        ul
            li
                a(href='/') Home   
            li
                a(href='about') About us
            li.active
                a(href='contactus') Contact   
            li
                a(href='helpus.html') Help Us   
        h1 Contact Us
        span.b
    section.sticky
        blockquote
            a(href='https://discord.gg/Crkzaf') Discord
            br
            br          
            a(href='https://youtube.com/channel/UCSULXN5apeQSDa0sLYuwEnA') Youtube        
            span.a  
        img#office(src='https://images7.alphacoders.com/810/810997.jpg')
        img#building(src='https://wallpaperplay.com/walls/full/b/1/9/96118.jpg')  
        #box 
    section
        h2 Your outlook upon life, your estimate of yourself, your estimate of your value are largely colored by your environment. Your whole career will be modified, shaped, molded by your surroundings, by the character of the people with whom you come in contact every day.
