head
  title Artificial Intelligence
  link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
body
  section
    ul
      li.active
        a(href='/') Home
      li
        a(href='about') About us
      li
        a(href='contactus') Contact
      li
        a(href='helpus.html') Help Us
    h1 ERROR : PAGE NOT FOUND
    center
        p.button
            a(href = "javascript:history.back()") Go Back