head
  title Artificial Intelligence
  link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
body
  section
    ul
      li.active
        a(href='/') Home
      li
        a(href='about') About us
      li
        a(href='contactus') Contact
      li
        a(href='helpus.html') Help Us
      li
        a(href='login') Login / Register
    h1 ARTIFICIAL INTELLIGENCE
    span.b
  section.sticky
    blockquote
      | "Artificial intelligence (AI) is the simulation of human intelligence processes by machines, especially computer systems. These processes include learning (the acquisition of information and rules for using the information), reasoning (using rules to reach approximate or definite conclusions) and self-correction. Particular applications of AI include expert systems, speech recognition and machine vision."
      span.a
    img#office(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/office1.png')
    img#building(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/sky.jpg')
    #box
  section
    h2
      | AI can be categorized as either weak or strong. Weak AI, also known as narrow AI, is an AI system that is designed and trained for a particular task. Virtual personal assistants, such as Apple's Siri, are a form of weak AI. Strong AI, also known as artificial general intelligence, is an AI system with generalized human cognitive abilities. When presented with an unfamiliar task, a strong AI system is able to find a solution without human intervention.
